.bg-custom-2 {
  background-image: linear-gradient(90deg, #405c70 0%, #161819 100%);
  opacity: 0.5;
  filter: alpha(opacity=15);
}

.navbar a {
  font-size: 1.5em !important;
  font-weight: bold;
  float: right;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

body,
html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1491484925566-336b202157a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  min-height: 75%;
}

.menu {
  display: none;
}

/*Social buttoms*/

.fa {
  padding: 20px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 50px 2px;

}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;


  /* Meat the team, beginning*/
  .column {
    float: left;
    width: 20%;
    margin-bottom: 166px;
    padding: 0 8px;
  }




  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
